/* Colors #494949 gray,  #fdb4e5 Pink */

#root>div>section>div.ui.fluid.container {
    /* container for images */
    display: flex;
    justify-content: space-around;

}

#root>div>section {
    background-color: #494949;
    border-top: 2px solid #fdb4e5;
    border-bottom: 2px solid #fdb4e5;
    width: 90%;
    margin: 5px auto;
    padding-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px 2px #fdb4e5;

}

#root>div>section>h4>p {
    /* paragraph inside portfolio section */
    font-family: 'PT Serif', serif;
    color: #eee;
    font-size: 1.35rem;
}

#root>div>div>div>a {
    /* font for button */
    color: black;
}

#root>div>div>h1 {
    /* header */
    margin-top: 20px;
}

#root>div>div.ui.horizontal.divider {
    /* logo divider */
    margin-bottom: 0px;
}


#root>div>div>div:nth-child(2) {
    /* image Background */
    background: #eee;
    padding: 5px 0;
    border-top: 1px solid #fdb4e5;
    border-bottom: 2px solid #fdb4e5;
    width: 97%;
    margin: 0px auto;

}

.img {

    margin: 3px auto;
    width: 50%;
    border-radius: 70px;
    border: 5px inset plum;
    box-shadow: 0 0 5px #888;
}

div.scrollmenu {
    background-color: #333;

}

.h1Style,
.textShadow,
.socialMediaH1 {
    text-shadow: 1px 1px 0px #000, 2px 2px 0px #fdb4e5;
    color: #eee;
    font-family: 'Indie Flower', cursive;
    font-size: 2rem;
}

#root>div>div:nth-child(2)>div>div.ui.stackable.very.relaxed.two.column.grid>div:nth-child(1) {
    /* Div for flexed images */
    padding-left: 80px;
    padding-top: 20px;
}

.ui.button {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px inset #fdb4e5;

}

#root>div>div:nth-child(2)>a>button {
    margin-bottom: 13px;
}

#root>div>div:nth-child(2)>div {
    background-color: #494949;
}




#root>div>div:nth-child(2)>div>div.ui.stackable.very.relaxed.two.column.grid>div:nth-child(1) {
    /* Div for images  */
    display: flex;
    flex-basis: 0 0 80%;

}

.salon {
    margin: 10px auto;
}

#root>div>div:nth-child(2)>div>div.ui.stackable.very.relaxed.two.column.grid>div:nth-child(1)>div:nth-child(2)>button {
    /* animated button on styles page */

    margin: 0px;
    padding: 0px;
    display: inline-block;
}