.facebook.icon,
.instagram.icon,
.twitter.icon {
    font-size: 30px;
    margin: 30px 30px;
    color: black;


}

.facebook:hover {
    color: goldenrod
}

.instagram:hover {
    color: goldenrod;
}

.twitter:hover {
    color: goldenrod;
}

.socialMediaH1 {
    padding-top: 20px;
    margin-bottom: 0;
}